<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Spring Boot WebSocket</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div style="color: #000a6a; text-align: center; height: 16vh">
    <h1>{{title}}</h1>
    <form class="form-inline">
        <div class="form-group">
            <label for="connect">Connexion au serveur:</label>
            <button id="connect" class="btn btn-default" type="button" [disabled]="!disabled" (click)="connect()">Connexion</button>
            <button id="disconnect" class="btn btn-default" type="submit" [disabled]="disabled" (click)="disconnect()">Déconnexion</button>
        </div>
    </form>
</div>
<div id="gameSearch">
    <div>
        <button id="connectToGame" class="btn btn-default" type="button" (click)="openHeroSelect()">Trouver une partie</button>
    </div>
    <div>
        <button id="cancelSearch" class="btn btn-default hiddenCancelButton" type="button" (click)="cancelSearch()">Annuler</button>
    </div>
    <div class="form-popup" id="heroSelectPop">
        <form class="form-container">
            <h1>Choix du héro</h1>
            <select name="heroName" (change)="selectHeroHandler($event)">
                <option value="Jaina">Jaina (mage)</option>
                <option value="Garosh">Garosh (guerrier)</option>
                <option value="Uther">Uther (paladin)</option>
            </select>
            <button id="findGame" class="btn btn-default" type="button" (click)="connectToGame()">Trouver une partie</button>
            <button type="submit" class="btn cancel" (click)="closeHeroSelect()">Annuler</button>
        </form>
    </div>
</div>

<div id="theBoard">

    <div id="parentHisHero" class="row">
        <div *ngFor="let hero of hisHero">
            <p style="display: inline-block" >Mana: </p> <b > {{hisMana?.currentMana}} / {{hisMana?.manaMax}} </b>
            <a class="card" >
                <img src= {{hero.imgurl}} alt="Avatar">
            </a>
            <ul style="display: inline-block">
                <li>Points de vie:  <b> {{hero.currentHealthPoints}} </b> </li>
                <li *ngIf="hero.armorPoints>0">Armure: <b>{{hero.armorPoints}}</b></li>
            </ul>
        </div>
    </div>

    <div id="parentHisHand" class="row">
        <a class="card" *ngFor="let hisCard of hisHand" >
            <img src= "https://bit.ly/2CMnTps" alt="Avatar">
        </a>
    </div>

    <div id="parentHisMinions" class="row">
        <div class="card" *ngFor="let myCard of hisMinions">
            <a (click)="openCardPopup(myCard.id)" >
                <img [ngClass]="{
                'taunt': myCard.taunt,
                'canAttack': myCard.canAttack,
                'lifeSteal': myCard.lifeSteal}"
                     src= {{myCard.imgurl}} alt="Avatar">
            </a >

            <div class="form-popup"  [attr.id]="'cardPopup' + myCard.id" style="display: none">
                <form class="form-container">
                    <button type="submit" class="btn cancel" (click)="closeCardPopup(myCard.id)">Fermer</button>
                    <img src={{myCard.imgurl}} alt="Avatar" style="width:100%">
                    <div class="containerCardDetails">
                        <h4><b>{{myCard.name}}</b></h4>
                        {{myCard.id}}
                        <p>Cout: {{myCard.requiredMana}}</p>
                        <p>Dégats: <b>{{myCard.damagePoints}}</b></p>
                        <p>Vie: <b>{{myCard.healthPoints}}</b></p>
                        <p>{{myCard.text}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="parentMyMinions" class="row">
        <div class="card" *ngFor="let myCard of myMinions">
            <a (click)="openCardPopup(myCard.id)" >
                <img [ngClass]="{
                'taunt': myCard.taunt,
                'canAttack': myCard.canAttack,
                'lifeSteal': myCard.lifeSteal}"
                     src= {{myCard.imgurl}} alt="Avatar">
            </a >

            <div class="form-popup"  [attr.id]="'cardPopup' + myCard.id" style="display: none">
                <form class="form-container">
                    <button *ngIf="myCard.canAttack" class="btn btn-default" type="button" (click)="showTargetForMinion(myCard.id)">Attaquer</button>
                    <button type="submit" class="btn cancel" (click)="closeCardPopup(myCard.id)">Fermer</button>
                    <img src={{myCard.imgurl}} alt="Avatar" style="width:100%">
                    <div class="containerCardDetails">
                        <h4><b>{{myCard.name}}</b></h4>
                        {{myCard.id}}
                        <p>Coût: {{myCard.requiredMana}}</p>
                        <p>Dégats: <b>{{myCard.damagePoints }}</b></p>
                        <p>Vie: <b>{{myCard.healthPoints}}</b></p>
                        <p>{{myCard.text}}</p>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div id="parentMyHand" class="row">
        <div class="card" *ngFor="let myCard of myCards">
            <a (click)="openCardPopup(myCard.id)" >
                <img src= {{myCard.imgurl}} alt="Avatar">
            </a >

            <div class="form-popup"  [attr.id]="'cardPopup' + myCard.id" style="display: none">
                <form class="form-container">
                    <button type="submit" class="btn cancel" (click)="closeCardPopup(myCard.id)">Fermer</button>
                    <div *ngIf="myCard.requiredMana <= myMana?.currentMana">
                        <div *ngIf="myCard.cardType==='minion'">
                            <button class="btn btn-default" type="button" (click)="playMinion(myCard.id)">Invoquer</button>
                        </div>
                    </div>
                    <img src={{myCard.imgurl}} alt="Avatar" style="width:100%">
                    <div class="containerCardDetails">
                        <h4><b>{{myCard.name}}</b></h4>
                        <p>Cout: {{myCard.requiredMana}}</p>
                        <div *ngIf="myCard.cardType === 'minion' ">
                            <p>Dégats: <b>{{myCard.damagePoints}}</b></p>
                            <p>Vie: <b>{{myCard.healthPoints}}</b></p>
                        </div>
                        <p>{{myCard.text}}</p>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div id="parentMyHero" class="row">
        <div>
            <button class="btn btn-default" type="button" (click)="giveUp()" style="display: inline-block">Abandonner</button>
            <button id="passTurnBtn" class="btn cancel" style="display: none" (click)="passTurn()">Passer son tour</button>
        </div>
        <div *ngFor="let hero of myHero">
            <p style="display: inline-block" >Mana: </p> <b > {{myMana?.currentMana}} / {{myMana?.manaMax}} </b>
            <a class="card"  >
                <img src= {{hero.imgurl}} alt="Avatar">
            </a>
            <ul style="display: inline-block">
                <li>Points de vie:  <b> {{hero.currentHealthPoints}} </b> </li>
                <li *ngIf="hero.armorPoints>0">Armure: <b>{{hero.armorPoints}}</b></li>
                <li>Aura : {{myMana?.aura}}</li>
            </ul>
        </div>
    </div>

</div>
<div class="form-popup"  id="cardPopupShowTarget" style="display: none; z-index: 50">

    <form class="form-container">
        <button type="submit" class="btn cancel" (click)="closeTargetPopup()">Fermer</button>
        <button class="btn btn-default" type="button" (click)="openTargetPopup()">Attaquer un serviteur</button>

        <div id="targetDetails" class="row" style="display: none">
            <div class="targetDetails" *ngFor="let myTarget of myTargets">
                <div id="targetImage">
                    <a (click)="openTargetDetails(myTarget.id)" >
                        <img [ngClass]="{
                                        'taunt': myTarget.taunt,
                                        'canAttack': myTarget.canAttack,
                                        'lifeSteal': myTarget.lifeSteal}"
                             src= {{myTarget.imgurl}} alt="Avatar">
                    </a >
                </div>

                <div [attr.id]="'targetDetailsPopup' + myTarget.id" style="position: relative; z-index: 100; display: none">
                    <div class="form-popup" style="display: block">
                        <form class="form-container">
                            <button type="submit" class="btn cancel" (click)="closeTargetDetails(myTarget.id)">Fermer</button>
                            <button class="btn btn-default" type="button" (click)="attackThisTarget( myTarget.id)">Attaquer ce serviteur</button>
                            <img src={{myTarget.imgurl}} alt="Avatar" style="width:100%">
                            <div class="containerCardDetails">
                                <h4><b>{{myTarget.name}}</b></h4>
                                {{myTarget.id}}
                                <p>Coût: {{myTarget.requiredMana}}</p>
                                <p>Dégats: <b>{{myTarget.damagePoints}}</b></p>
                                <p>Vie: <b>{{myTarget.healthPoints}}</b></p>
                                <p>{{myTarget.text}}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="form-popup" id="yourTurnPop" style="display: none">
    <form class="form-container">
        <button type="submit" class="btn cancel" (click)="closeYourTurnPopup()">Fermer</button>
        <div class="containerCardDetails" id="yourTurnPopMessage">
        </div>
    </form>
</div>
<div id="messageServer">
    <table id="conversation" class="table table-striped" style="margin-top: 20px;">
        <thead>
        <tr>
            <th>Messages serveur:</th>
        </tr>
        </thead>
        <tbody *ngFor="let greeting of greetings">
        <tr>
            <td>{{greeting}}</td>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>
