<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Spring Boot WebSocket</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div style="color: blue; text-align: center">
  <h1>{{title}}</h1>
</div>

<div class="container" style="width: 400px; margin-top: 20px;">

  <form class="form-inline">
    <div class="form-group">
      <label for="connect">Connexion au serveur:</label>
      <button id="connect" class="btn btn-default" type="button" [disabled]="!disabled" (click)="connect()">Connexion</button>
      <button id="disconnect" class="btn btn-default" type="submit" [disabled]="disabled" (click)="disconnect()">Déconnexion</button>
    </div>
  </form>

</div>
<div>
  <button id="connectToGame" class="btn btn-default" type="button" (click)="connectToGame()">Trouver une partie</button>
  <table id="conversation" class="table table-striped" style="margin-top: 20px;">
    <thead>
    <tr>
      <th>Messages serveur:</th>
    </tr>
    </thead>
    <tbody *ngFor="let greeting of greetings">
    <tr>
      <td>{{greeting}}</td>
    </tr>
    </tbody>
  </table>
</div>
</body>

</html>
